*
!*/
!/README.md
!CMakeLists.txt
!Tutorial/*.md
!Tutorial/*/*.md
!Tutorial/*/*/*.png
!Slides/*/*.tex
!Slides/*/*.bib
!Slides/*/*/*.tex
!Slides/*/*/*.png
!OJ/lib/*
!OJ/example.*
/OJ/src/CMakeLists.txt
!/OJ/my_malloc/*